.wrapper {
  width: 100vw;
}

header {
  width: 100vw;
  h1 {
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.5rem;
    border: solid white 0.5rem;
    padding: 1.25rem;
    margin-top: 6rem;
    width: 85%;
    margin-left: 7.5%;

    @media screen and (min-width: 992px) {
      font-size: 4rem;
      width: 40%;
      margin-left: 30%;
    }

    @media screen and (min-width: 2400px) {
      font-size: 6rem;
      margin-top: 9rem;
    }

    @media screen and (min-width: 3200px) {
      font-size: 7rem;
      margin-top: 12rem;
    }
  }

  h2 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;

    @media screen and (min-width: 992px) {
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-size: 1.8rem;
    }

    @media screen and (min-width: 2400px) {
      margin-top: 4rem;
      margin-bottom: 4rem;
      font-size: 2.1rem;
    }

    @media screen and (min-width: 3200px) {
      margin-top: 6rem;
      margin-bottom: 6rem;
      font-size: 3rem;
    }
  }
}

main {
  padding-bottom: 15rem;

  @media screen and (min-width: 2400px) {
    padding-bottom: 25rem;
  }

  @media screen and (min-width: 3200px) {
    padding-bottom: 35rem;
  }

  form {
    width: 100%;

    @media screen and (min-width: 992px) {
      width: 40%;
      margin-left: 30%;
    }

    input,
    button {
      width: 95%;
      padding: 1rem;

      @media screen and (min-width: 2400px) {
        padding: 2rem;
      }

      @media screen and (min-width: 3200px) {
        padding: 3rem;
      }
    }

    input {
      font-size: 1rem;
      font-weight: 400;

      @media screen and (min-width: 2400px) {
        font-size: 2rem;
      }

      @media screen and (min-width: 3200px) {
        font-size: 3rem;
      }
    }

    input::placeholder {
      color: #999;
    }

    button {
      margin-top: 1rem;
      border: solid 0.33rem white;
      background-color: transparent;
      color: white;
      font-weight: 700;
      font-size: 1.2rem;

      @media screen and (min-width: 2400px) {
        font-size: 2.4rem;
      }

      @media screen and (min-width: 3200px) {
        margin-top: 2rem;
        font-size: 3.8rem;
      }
    }
  }

  h3 {
    word-spacing: 0.5rem;
    font-size: 1.2rem;
    position: relative;
    margin-left: 3rem;
    margin-right: 3rem;
    letter-spacing: 0.1ch;
    margin-top: 0.75rem;
    margin-bottom: 2rem;
    width: 70%;
    margin-left: 15%;

    @media screen and (min-width: 992px) {
      font-size: 1.5rem;
      margin-top: 2rem;
      margin-bottom: 5rem;
    }

    @media screen and (min-width: 2400px) {
      font-size: 3rem;
      margin-top: 4rem;
      margin-bottom: 7.5rem;
    }

    @media screen and (min-width: 3200px) {
      font-size: 4rem;
      margin-top: 5rem;
      margin-bottom: 9rem;
    }
  }

  h3::before,
  h3::after {
    content: "";
    width: 20%;
    height: 5%;
    background-color: whitesmoke;
    display: block;
    position: absolute;
    opacity: 0.6;

    @media screen and (min-width: 992px) {
      width: 15%;
      height: 3%;
    }
  }

  h3::before {
    top: 50%;
    left: -8%;

    @media screen and (min-width: 992px) {
      left: 17%;
    }
  }

  h3::after {
    top: 50%;
    right: -8%;

    @media screen and (min-width: 992px) {
      right: 17%;
    }
  }
}

footer {
  background-color: #33333370;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  @media screen and (min-width: 2400px) {
    font-size: 2rem;
    padding: 2rem;
  }

  @media screen and (min-width: 3200px) {
    font-size: 2.5rem;
    padding: 2.5rem;
  }
}
